<div class="background-oscuro">
  <div class="categorias-row row-container relative">
    <h2 class="categorias-titulo titulo-global">Categorias</h2>

    <div class="categorias">
      <ul class="mdl-grid">
        <li class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet" id="categories-row-1">
          <div class="mdl-cell mdl-cell--12-col categoria-item">1</div>
          <div class="mdl-cell mdl-cell--12-col categoria-item">2</div>
        </li>
        <li class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet" id="categories-row-2">
          <div class="mdl-cell mdl-cell--12-col categoria-item">1</div>
        </li>
        <li class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet" id="categories-row-3">
          <div class="mdl-cell mdl-cell--12-col categoria-item">1</div>
          <div class="mdl-cell mdl-cell--12-col categoria-item">2</div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row-container relative">
  <h2 class="titulo-global mdl-cell--8-col">Alguien debia hacerlo, y lo hacemos con gusto</h2>
  <div class="mdl-grid what-we-do">
    <div class="mdl-cell mdl-cell--8-col">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>