// body
//   background: red
h1,
h2
  margin: 0
.background-cover
  background-size: cover !important
  background-position: center !important
  background-repeat: no-repeat
  height: 200px
.cart
  color: white
  font-size: 28px !important
.current
  margin: 0
.darken-4
  color: #b71c1c
.nav--header
  background-color: rgba(black, .7)
.mdl-navigation
  a
    margin: 0 1rem
